@charset "UTF-8";
	.map_wrap, .map_wrap * {
		margin:0;
		padding:0;
		font-family:'Malgun Gothic',dotum,'돋움',sans-serif;
		font-size:12px;
	}
	.map_wrap a, .map_wrap a:hover, .map_wrap a:active{
		color:#000;
		text-decoration: none;
	}
	.map_wrap {
		position:relative;
		width:100%;
		height:100%;
	}
	#menu_wrap {
		position:absolute;
		top:0;
		left:15%;
		bottom:0;
		width:300px;
		margin:10px 0 30px 10px;
		padding:5px;
		overflow-y:auto;
		background:rgba(255, 255, 255, 0.7);
		z-index: 1;
		font-size:12px;
		display : none;
	}
	#detailList{
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		width:100px;
		margin:10px 0 30px 10px;
		padding:5px;
		overflow-y:auto;
		background:rgba(255, 255, 255, 0.7);
		z-index: 1;
		font-size:12px;
		border-radius: 10px;
	}



	#cancle {
		position:absolute;
		top:40%;
		left:15%;
		bottom:0;
		height:50px;
		width:50px;
		margin:5px 0 0px 7px;
		padding:5px;
		overflow-y:auto;
		z-index: 1;
		font-size:20px;
		border:0px;
		background:rgba(255, 255, 255, 0.7);
		transition: none;
	}
	.bg_white {background:#fff;}
	#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
	#menu_wrap .option{text-align: center;}
	#menu_wrap .option p {margin:10px 0;}  
	#menu_wrap .option button {margin-left:5px;}
	#placesList li {list-style: none;}
	#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
	#placesList .item span {display: block;margin-top:4px;}
	#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
	#placesList .item .info{padding:10px 0 10px 55px;}
	#placesList .info .gray {color:#8a8a8a;}
	#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
	#placesList .info .tel {color:#009900;}
	#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(/resources/img/marker.png) no-repeat;}
	
	#pagination {margin:10px auto;text-align: center;}
	#pagination a {display:inline-block;margin-right:10px;}
	#pagination .on {font-weight: bold; cursor: default;color:#777;}
	
	.detail {display: none;}
	
	
	.day1{
	border : 2px solid #F18101;
	width : 100%;
	height : 40px;
	margin-top:3px;
}
.day2{
	border : 2px solid #0173BC;
	width : 100%;
	height : 40px;
	margin-top:3px;
}
.day3{
	border : 2px solid #00A074;
	width : 100%;
	height : 40px;
	margin-top:3px;
}
.day4{
	border : 2px solid #CFAC6A;
	width : 100%;
	height : 40px;
	margin-top:3px;
}
.day5{
	border : 2px solid #C9C9CB;
	width : 100%;
	height : 40px;
	margin-top:3px;
}
.day6{
	border : 2px solid #33aacc;
	width : 100%;
	height : 40px;
	margin-top:3px;
}
.day7{
	border : 2px solid #48c817;
	width : 100%;
	height : 40px;
	margin-top:3px;
}

.day{
	width : 40px;
	height: 20px;
	color: #fff;
	background: #F18101;
	border: 1px solid transparent;
	margin-bottom:5px;
}
.day:hover {
	color: #fe5c24;
	border: 1px solid #F18101;
	background: #fff;
}

.save{
	width : 100%;
	height: 35px;
	color: #fff;
	background: #0173bc;
	border: 1px solid transparent;
	margin-bottom:5px;
}
.save:hover {
	color: #0173bc;
	border: 1px solid #0173bc;
	background: #fff;
}


.submit{
	width : 70px;
	height: 25px;
	color: #fff;
	background: #00a074;
	border: 1px solid transparent;
	margin-bottom:5px;
}
.submit:hover {
	color: #00a074;
	border: 1px solid #00a074;
	background: #fff;
}
.keyword{
	width: 120px;
	height:25px;
	background:rgba(255, 255, 255,0.5);
	border : 0;
}
