<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="partner">
  <select id="selectOnePartner" parameterType="u" resultType="u">
  	select
  		partner_no as no,
  		partner_yn as yn,
  		partner_id as id,
  		partner_pw as pw,
  		partner_name as name,
  		partner_business as business,
  		partner_ceo as ceo,
  		partner_email as email,
  		partner_phone phone,
  		partner_tel as tel,
  		partner_address as address,
  		change_pw as changePw,
  		detail_address as detail_address,
  		'p' as type
	from partner where partner_id=#{id}
		<if test="pw != null">
		and partner_pw=#{pw}
		</if>  		
  </select>
  <insert id="insertPartner" parameterType="u">
  	insert into partner values(partner_sequence.nextval,0,#{id},#{pw},#{name},#{business},#{ceo},#{email},#{phone},#{tel},#{address},'n',#{detailAddress}) 		
  </insert>
  <insert id="packageInsert" parameterType="pac">
  	insert into packageproduct values(
  		#{partnerNo},
  		packageproduct_sequence.nextval,
  		#{packageProductName},
  		#{packageProductInfo},
  		#{packageProductMainPicture},
  		#{packageProductSubPicture},
  		#{packageProductSubInfo1},
  		#{packageProductSubInfo2},
  		#{packageProductSubInfo3},
  		#{packageProductSubInfo4},
  		#{packageProductSubInfo5},
  		#{ceo},
  		#{tel},
  		#{homepage},
  		#{address}  		  		
  	)
  </insert>
  <select id="selectPacNo" resultType="int">
  	select max(packageproduct_no) from packageproduct 
  </select>
  <insert id="productInsert" parameterType="pro">
  	insert into product values(
  		#{packageProductNo},
  		product_sequence.nextval,
  		#{productName}
  	)  	
  </insert>
  <select id="selectProNo" resultType="int">
  	select max(product_no) from product  
  </select>
  <insert id="optionInsert">
  	insert into product_option values(
  		#{productNo},
  		option_sequence.nextval,
  		#{optionName},
  		#{optionPrice}
  	)
  </insert>
  <select id="selectPackage" resultType="int" parameterType="pac">
  	select
  		count(*)
  	from packageproduct where partner_no=#{partnerNo}
  </select>
  <select id="packageList" resultType="pac">
  	select
  		partner_no as partnerNo,
  		packageproduct_no as packageProductNo,
  		packageproduct_name as packageProductName,
  		packageproduct_info as packageProductInfo,
  		packageproduct_main_picture as packageProductMainPicture,
  		packageproduct_sub_picture as packageProductSubPicture,
  		packageproduct_sub_info1 as packageProductSubInfo1,
  		packageproduct_sub_info2 as packageProductSubInfo2,
  		packageproduct_sub_info3 as packageProductSubInfo3,
  		packageproduct_sub_info4 as packageProductSubInfo4,
  		packageproduct_sub_info5 as packageProductSubInfo5,
  		packageproduct_ceo as ceo,
  		packageproduct_tel as tel,
  		packageproduct_homepage as homepage,
  		packageproduct_address as address
  	from packageproduct	
  </select>
  <select id="selectOnePackage" parameterType="int" resultType="pac">
  	select 
		partner_no as partnerNo,
  		packageproduct_no as packageProductNo,
  		packageproduct_name as packageProductName,
  		packageproduct_info as packageProductInfo,
  		packageproduct_main_picture as packageProductMainPicture,
  		packageproduct_sub_picture as packageProductSubPicture,
  		packageproduct_sub_info1 as packageProductSubInfo1,
  		packageproduct_sub_info2 as packageProductSubInfo2,
  		packageproduct_sub_info3 as packageProductSubInfo3,
  		packageproduct_sub_info4 as packageProductSubInfo4,
  		packageproduct_sub_info5 as packageProductSubInfo5,
  		packageproduct_ceo as ceo,
  		packageproduct_tel as tel,
  		packageproduct_homepage as homepage,
  		packageproduct_address as address  		
 	from packageproduct where partner_no=#{partnerNo}
  </select>
  <select id="productList" resultType="pro" parameterType="int">
  	select
  		packageproduct_no as packageProductNo,
  		product_no as productNo,
  		product_name as productName
  	from product where packageproduct_no=#{packageProductNo}	
  </select>
  <select id="selectOption" resultType="op" parameterType="int">
  	select
 		product_no as productNo,
 		option_no as optionNo,
 		option_name as optionName,
 		option_price as optionPrice
 	from product_option where product_no=#{selectOption} 
  </select>
</mapper>
	