<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="plan">
  <insert id="insertPlan" parameterType="plan">
  	<selectKey keyProperty="planNo" resultType="int" order="AFTER">
  		SELECT MAX(plan_no) FROM plan
  	</selectKey>
  	INSERT INTO plan VALUES(plan_sequence.NEXTVAL, #{planPublic}, #{planWriter}, #{planTitle}, #{planStart}, #{planEnd}, #{planContent}, 0, 0, 0, #{planThumbnailNo})
  </insert>
  <insert id="insertDay" parameterType="day">
  	INSERT INTO day VALUES(day_sequence.NEXTVAL, #{dayPlan}, #{dayDate}, #{dayLatitude}, #{dayLongitude}, #{dayTitle}, #{dayAddress})
  </insert>
  <delete id="deleteDay">
  	DELETE FROM day WHERE day_plan = #{dayPlan}
  </delete>
  <select id="selectPlanList" parameterType="u" resultType="plan">
  	SELECT
  		plan_no AS planNo,
  		plan_public AS planPublic,
  		plan_writer AS planWriter,
  		plan_title AS planTitle,
  		TO_CHAR(plan_start, 'YYYY-MM-DD') AS planStart,
  		TO_CHAR(plan_end, 'YYYY-MM-DD') AS planEnd,
  		plan_content AS planContent,
  		plan_like AS planLike,
  		plan_share AS planShare,
  		plan_view AS planView
  	FROM plan WHERE plan_writer = #{id}
  </select>
  <select id="selectRecommendPlanList" resultType="plan">
  	SELECT
  		plan_no AS planNo,
  		plan_public AS planPublic,
  		plan_title AS planTitle,
  		TO_CHAR(plan_start, 'YYYY-MM-DD') AS planStart,
  		TO_CHAR(plan_end, 'YYYY-MM-DD') AS planEnd,
  		plan_content AS planContent,
  		plan_like AS planLike,
  		plan_share AS planShare,
  		plan_view AS planView
  	FROM (SELECT * FROM plan ORDER BY plan_like DESC) WHERE ROWNUM &lt;=3
  </select>
  <select id="selectNewPlanList" resultType="plan">
  	SELECT
  		plan_no AS planNo,
  		plan_public AS planPublic,
  		plan_title AS planTitle,
  		TO_CHAR(plan_start, 'YYYY-MM-DD') AS planStart,
  		TO_CHAR(plan_end, 'YYYY-MM-DD') AS planEnd,
  		plan_content AS planContent,
  		plan_like AS planLike,
  		plan_share AS planShare,
  		plan_view AS planView
  	FROM (SELECT * FROM plan ORDER BY plan_start DESC) WHERE ROWNUM &lt;=3 AND plan_start &gt;= SYSDATE -1
  </select>
    <select id="selectViewPlanList" resultType="plan">
  	SELECT
  		plan_no AS planNo,
  		plan_public AS planPublic,
  		plan_title AS planTitle,
  		TO_CHAR(plan_start, 'YYYY-MM-DD') AS planStart,
  		TO_CHAR(plan_end, 'YYYY-MM-DD') AS planEnd,
  		plan_content AS planContent,
  		plan_like AS planLike,
  		plan_share AS planShare,
  		plan_view AS planView
  	FROM (SELECT * FROM plan ORDER BY plan_view DESC) WHERE ROWNUM &lt;=3
  </select>
  <select id="selectOnePlan" parameterType="plan" resultType="plan">
  	SELECT
  		plan_no AS planNo,
  		plan_public AS planPublic,
  		plan_title AS planTitle,
  		TO_CHAR(plan_start, 'YYYY-MM-DD') AS planStart,
  		TO_CHAR(plan_end, 'YYYY-MM-DD') AS planEnd,
  		plan_content AS planContent,
  		plan_like AS planLike,
  		plan_share AS planShare,
  		plan_view AS planView,
  		(plan_end-plan_start) AS planDay
  	FROM plan WHERE plan_no = #{planNo}
  </select>
  <update id="updateOnePlan" parameterType="plan">
    UPDATE plan SET plan_view = plan_view+1 WHERE plan_no = #{planNo}
  </update>
  <select id="selectOnePlanDays" parameterType="plan" resultType="day">
  	SELECT
  		day_no AS dayNo,
  		day_plan AS dayPlan,
  		day_date AS dayDate,
  		day_latitude AS dayLatitude,
  		day_longitude AS dayLongitude,
  		day_title AS dayTitle,
  		day_address AS dayAddress
  	FROM day WHERE day_plan = #{planNo}
  </select>
</mapper>