<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
<!-- 		<typeAlias type="" alias=""/> -->
	<typeAlias type="kr.or.member.model.vo.User" alias="u"/>
	<typeAlias type="kr.or.partner.model.vo.Package" alias="pac"/>
	<typeAlias type="kr.or.partner.model.vo.Product" alias="pro"/>
	<typeAlias type="kr.or.partner.model.vo.Option" alias="op"/>
	<typeAlias type="kr.or.mapPartner.model.vo.MapPartner" alias="mapPartner"/>
	<typeAlias type="kr.or.admin.model.vo.Admin" alias="admin"/>
	<typeAlias type="kr.or.plan.model.vo.Plan" alias="plan"/>
	<typeAlias type="kr.or.plan.model.vo.Day" alias="day"/>
	
	
	</typeAliases>
</configuration>
